/* .styles-module_blinking__9VXRT {
     animation-duration: .8s;
     animation-iteration-count: infinite;
     animation-name: styles-module_blink__rqfaf;
 }
 .styles-module_blinkingCursor__yugAC {
     color: inherit;
     font: inherit;
     left: 3px;
     line-height: inherit;
     opacity: 1;
     position: relative;
     top: 0;
 }
 @keyframes styles-module_blink__rqfaf {
     0%{
          opacity: 1;
     }
     100%{
          opacity: 0;
     }
 } */